<% provide(:title, "Illib.Create") %>
  <div class="container">
    <h1>Illib.Welcome</h1>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row show-comic-list">
        <div class="col-md-4">
          <div class="field abcdefg">
            <%= f.label "Username: " %>
            <%= f.text_field :username %>
          </div>
          <div class="field abcdefg">
            <%= f.label "Password: " %>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field abcdefg">
            <%= f.label "Email: " %>
            <%= f.text_field :email %>
          </div>
          <div class="field abcdefg">
            <%= f.label "Password Confirmation: " %>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field abcdefg">
            <%= f.label "Favorite Publisher: " %>
            <%= f.text_field :fav_pub %>
          </div>
        </div>
       </div>
      <div class="actions abcdefg">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
