<% provide(:title, "Illib.#{ @user.username }") %>
<div class="container">
  <div class="row">
      <h1>
        Illib.<%= @user.username %>
        <span class='funfunfun'><div class="btn btn-primary">Edit Profile</div></span>
        <span class="funfunfunfun pull-right"><div class="btn btn-success"><%= link_to "Add Comic", "/comics/new"  %></div></span>
      </h1>
  </div>
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Series</th>
        <th>Issue No.</th>
        <th>Creator</th>
        <th>Publisher</th>
        <th>Check-In Status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.comics.each do |comic| %>
        <tr>
          <td><%= link_to comic.title, comic %></td>
          <td><%= link_to comic.series, comic %></td>
          <td><%= link_to "#{comic.issue_no}", comic %></td>
          <td><%= link_to comic.creator, comic %></td>
          <td><%= link_to comic.publisher, comic %></td>
          <td>
            <% if comic.loan %>
              <%=  link_to comic.checkin, "/checkin_check/#{comic.id}" %>
            <% else %>
              <%=  link_to "In", "/loan_check/#{comic.id}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</div>
<!-- post = custom loan_comic method route to it - send id -->
