<% provide(:title, "Illib.#{ @user.username }") %>

<div class="container">
  <div class="row">
      <h1>
        Illib.<%= @user.username %>
        <span class='funfunfun'>
          <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_path(@user), method: :get, class:"btn btn-primary" %>
          <% end %>
        </span>
        <span class="funfunfunfun pull-right">
          <% if @user == current_user %>
          <%= link_to "Add Comic", "/comics/new", class:"btn btn-success" %>
          <% end %>
        </span>
      </h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Series</th>
        <th>Issue No.</th>
        <th>Creator</th>
        <th>Publisher</th>
        <th>Check-In Status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.comics.order(:title).each do |comic| %>
        <tr>
          <td><%= link_to comic.title, comic %></td>
          <td><%= link_to comic.series, comic %></td>
          <td><%= link_to "#{comic.issue_no}", comic %></td>
          <td><%= link_to comic.creator, comic %></td>
          <td><%= link_to comic.publisher, comic %></td>
          <td>
            <% if current_user %>
              <% if @user.id == current_user.id %>
                <% if comic.loan %>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#checkInModal<%=comic.id%>"><%= comic.checkin %></button>
                <% else %>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#checkOutModal<%=comic.id%>">In</button>
                <% end %>
              <% else %>
                <% if comic.loan %>
                  <div class="btn btn-danger"><%=  comic.checkin %></div>
                <% else %>
                  <div class="btn btn-success">In</div>
                <% end %>
              <% end %>
            <% else %>
              <% if comic.loan %>
                <div class="btn btn-danger"><%=  comic.checkin %></div>
              <% else %>
                <div class="btn btn-success">In</div>
              <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- post = custom loan_comic method route to it - send id -->
<% if current_user %>
  <% @user.comics.each do |comic| %>
    <div class="modal fade bs-example-modal-sm" id="checkOutModal<%=comic.id%>" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="gridSystemModalLabel">Checkout <%= comic.title %>?</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <%= form_tag "/loan/#{comic.id}" do %>
                <div class="field center">
                  <%= label_tag "Who's Borrowing?" %><br>
                  <%= text_field_tag :checkin %>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="actions">
                <%= submit_tag "Loan Confirmed", class:"btn btn-success col-sm-5 modal-button-checkout" %>
              </div>
                <%= link_to "cancel", "/users/#{current_user.id}", class:"btn btn-default col-sm-3 modal-button-checkout" %>
            </div>
          </div>
              <% end %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade bs-example-modal2-sm" id="checkInModal<%=comic.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="container">
            <h4>Check-In <%= comic.title %>?</h4>
            <%= link_to "Check-In", "/checkin/#{comic.id}", class:"btn btn-success modal-button-checkin" %>
            <%= link_to "cancel", "/users/#{current_user.id}", class:"btn btn-default modal-button-checkin" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
