<%= form_for(@comic) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :series %><br>
    <%= f.text_field :series %>
  </div>
  <div class="field">
    <%= f.label :issue_no %><br>
    <%= f.text_field :issue_no %>
  </div>
    <div class="field">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :penciller %><br>
    <%= f.text_field :penciller %>
  </div>
  <div class="field">
    <%= f.label :inker %><br>
    <%= f.text_field :inker %>
  </div>
  <div class="field">
    <%= f.label :colorist %><br>
    <%= f.text_field :colorist %>
  </div>
  <div class="field">
    <%= f.label :letterist %><br>
    <%= f.text_field :letterist %>
  </div>
  <div class="field">
    <%= f.label :publish_date %><br>
    <%= f.text_field :publish_date %>
  </div>
  <div class="field">
    <%= f.label :print_num %><br>
    <%= f.text_field :print_num %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_area :img_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
