<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-top navbar-inverse">
    <div class="container-fluid">
      <div>
        <ul class="bubs navbar-nav navbar-left"><a href="/" id="home_homie">
          <%= image_tag "bubs.png" %> <span class="trackcomic">Share and Track Your Illustrated Library</span></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="comic-print">Home</a></li>
          <% if current_user %>
          <li><a href="/users/<%= current_user.id %>" class="comic-print"><%= current_user.username %></a></li>
          <li><a href="/logout" class="comic-print">Log Out</a></li>
          <% else %>
          <li><a href="/login" class="comic-print">Log In</a></li>
          <li><a href="/users/new" class="comic-print">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>


